@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@inject IOptions<RequestLocalizationOptions> options
@{
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
    var eFloat = isRTL ? "right" : "left";
    var eFloatOpp = isRTL ? "left" : "right";
    var lang = isRTL ? 2 : 1;
    var dir = isRTL ? "rtl" : "ltr";
}
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultures = options.Value.SupportedUICultures
    .Select(c => new SelectListItem { Value = c.Name, Text = c.NativeName })
    .ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value + Context.Request.QueryString.Value}";
}
<link href="~/css/topbar.css" rel="stylesheet" />
<nav class="navbar">
    <a href="https://adaaapps.com/" target="_blank" class="logo_between_text logo logo_image_and_text">
        <img src="~/images/logoslogan.png" alt="ADAA">
    </a>
    <ul class="navbar-links">
        <li class="navbar-dropdown">
            <a href="@Url.Action("Index", "Home")">@localizer["Home"]</a>
        </li>
        <li class="navbar-dropdown">
            <a href="#">@localizer["Employee"]</a>
            <div class="dropdown">
                <a href="@Url.Action("Index", "Profile")">@localizer["Profile"]</a>
                <a href="@Url.Action("MyTeam", "Attendees")">@localizer["MyTeam"]</a>
                <a href="@Url.Action("Index","Attendees")">@localizer["Attendance"]</a>
                <a href="@Url.Action("AttendeesPlanner","Attendees")">AttendeesPlanner</a>
            </div>
        </li>
        <li class="navbar-dropdown">
            <a id="language" href="#">@requestCulture.RequestCulture.UICulture.Name</a>
            <div class="dropdown d-inline-block" style="margin-top:16px">
                <form class="method="post" asp-controller="Culture" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl">
                    <select class="custom-select" name="culture"
                            asp-for="@requestCulture.RequestCulture.UICulture.Name"
                            asp-items="cultures"
                            onchange="this.form.submit();">
                    </select>
                </form>
            </div>
        </li>
    </ul>
</nav>
@*<header id="page-topbar">
    <div class="col-md-12">
        <div class="d-flex" style="float:@eFloat">
            <img src="~/images/logoslogan.png" style="height:100px" />
        </div>
        <div class="d-flex" style="float:@eFloatOpp">
            <div class="dropdown d-inline-block" style="margin-top:16px">
                <form method="post" asp-controller="Culture" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl">
                    <select class="custom-select" name="culture"
                            asp-for="@requestCulture.RequestCulture.UICulture.Name"
                            asp-items="cultures"
                            onchange="this.form.submit();">
                    </select>
                </form>
            </div>
        </div>
    </div>
</header>*@
@*<section class="page_topline with_search ls section_padding_25 table_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center text-md-left">
                <div class="darklinks">
                    <div class="page_social_icons">
                        <span class="social-icons">
                            <a href="https://www.facebook.com/#" target="_blank" class="social-icon soc-facebook "></a>
                            <a href="https://twitter.com/#" target="_blank" class="social-icon soc-twitter "></a>
                            <a href="https://plus.google.com/#" target="_blank" class="social-icon soc-google "></a>
                            <a href="https://www.linkedin.com/#" target="_blank" class="social-icon soc-linkedin "></a>
                            <a href="https://www.pinterest.com/#" target="_blank" class="social-icon soc-pinterest "></a>
                        </span>

                    </div><!-- eof social icons -->
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="header_center_logo">
                    <a href="https://adaaapps.com/" target="_blank" class="logo_between_text logo logo_image_and_text">
                        <img src="~/images/logoslogan.png" alt="ADAA">
                    </a>
                </div><!-- eof .header_left_logo -->
            </div>
            <div class="col-md-4 header_right_buttons text-center text-md-right hidden-xs hidden-sm">
                <div class="dropdown d-inline-block" style="margin-top:16px">
                    <form method="post" asp-controller="Culture" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl">
                        <select class="custom-select" name="culture"
                                asp-for="@requestCulture.RequestCulture.UICulture.Name"
                                asp-items="cultures"
                                onchange="this.form.submit();">
                        </select>
                    </form>
                </div>
            </div>
        </div>
</section>
<div class="page_header_wrapper affix-top-wrapper" style="height: auto;">
    <header class="page_header ls toggler_center with_top_border affix-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 display_table">
                    <div class="header_mainmenu display_table_cell text-center">
                        <nav class="mainmenu_wrapper primary-navigation" style="">
                            <ul id="menu-main-menu" class="sf-menu nav-menu nav sf-js-enabled sf-arrows" style="touch-action: pan-y;">
                                <li id="menu-item-126" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-126"><a href="https://webdesign-finder.com/human-consult/">Homepage</a></li>
                                <li id="menu-item-212" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-212">
                                    <a href="#" class="sf-with-ul">Pages</a><span class="sf-menu-item-mobile-toggler"></span>
                                    <ul class="sub-menu" style="display: none; margin-top: 5px;">
                                        <li id="menu-item-213" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-213"><a href="https://webdesign-finder.com/human-consult/faq/">FAQ</a></li>
                                        <li id="menu-item-3899" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3899"><a href="https://webdesign-finder.com/human-consult/predefined-sections/">Predefined Sections</a></li>
                                        <li id="menu-item-3264" class="menu-item menu-item-type-taxonomy menu-item-object-fw-team-category current-menu-item menu-item-has-children menu-item-3264">
                                            <a href="https://webdesign-finder.com/human-consult/team/team/" class="sf-with-ul">Team</a><span class="sf-menu-item-mobile-toggler"></span>
                                            <ul class="sub-menu" style="display: none; margin-top: 5px;">
                                                <li id="menu-item-3263" class="menu-item menu-item-type-post_type menu-item-object-fw-team menu-item-3263"><a href="https://webdesign-finder.com/human-consult/member/beatrice-rose/">Team member</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-266"><a href="https://webdesign-finder.com/human-consult/shop/">Shop</a></li>
                                        <li id="menu-item-256" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-256"><a href="https://webdesign-finder.com/human-consult/appointment/">Appointment</a></li>
                                        <li id="menu-item-294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-294"><a href="https://webdesign-finder.com/human-consult/elements/">Elements</a></li>
                                        <li id="menu-item-421" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-421"><a href="https://webdesign-finder.com/human-consult/typography/">Typography</a></li>
                                        <li id="menu-item-3664" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3664"><a href="https://webdesign-finder.com/human-consult/employers/">Employers</a></li>
                                        <li id="menu-item-430" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-430"><a href="https://webdesign-finder.com/human-consult/404">404</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-2765" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2765"><a href="https://webdesign-finder.com/human-consult/about/">About</a></li>
                                <li id="menu-item-3680" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3680"><a href="https://webdesign-finder.com/human-consult/candidates/">Candidates</a></li>
                                <li id="menu-item-3856" class="menu-item menu-item-type-post_type_archive menu-item-object-jobpost menu-item-has-children menu-item-3856">
                                    <a href="https://webdesign-finder.com/human-consult/jobs/" class="sf-with-ul">Board</a><span class="sf-menu-item-mobile-toggler"></span>
                                    <ul class="sub-menu" style="display: none; margin-top: 5px;">
                                        <li id="menu-item-3876" class="menu-item menu-item-type-taxonomy menu-item-object-jobpost_category menu-item-3876"><a href="https://webdesign-finder.com/human-consult/job-category/category-1/">Job Category</a></li>
                                        <li id="menu-item-3857" class="menu-item menu-item-type-post_type menu-item-object-jobpost menu-item-3857"><a href="https://webdesign-finder.com/human-consult/jobs/speaking-team-leader/">Single job</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-129" class="menu-item menu-item-type-post_type_archive menu-item-object-fw-services menu-item-129"><a href="https://webdesign-finder.com/human-consult/service/">Services</a></li>
                                <li id="menu-item-127" class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-127"><a href="https://webdesign-finder.com/human-consult/blog/">Blog</a></li>
                                <li id="menu-item-229" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-229"><a href="https://webdesign-finder.com/human-consult/contacts/">Contacts</a></li>
                            </ul>
                        </nav>
                        <span class="toggle_menu"><span></span></span>
                    </div><!--	eof .col-sm-* -->
                </div>
            </div><!--	eof .row-->
        </div> <!--	eof .container-->
    </header>
</div>*@
